<h1>Quizzes</h1>

<ul>
    <% @quizzes.each do |quiz| %>
        <li>
            <%= link_to(quiz.title, question_path(quiz)) %> <br>
            <small>
                Created <%= time_ago_in_words(quiz.created_at) %> ago
            </small>
            |
            <small>
                <%= pluralize(quiz.points, "point") %>
            </small>
        </li>
    <% end %>
</ul>
