<ul class="nav nav-tabs"> 
        <li class="nav-tabs active"><a href="#attempts" data-toggle="tab">Attempted Quizzes</a></li>
        <li class="nav-tabs"><a href="#all-quizzes" data-toggle="tab">All Quizzes</a></li>
</ul>
<div class="container">
<div class="tab-content">
    <div class="tab-pane active" id="attempts">
        <div class="list_quizzes">
            <% @attempted_quizzes.each do |attempted_quiz| %>
                <div class="card my-5">
                    <div class="card-body quiz-card">
                        <div class="card-title">
                            <%= attempted_quiz.quiz.title %>
                            <br>
                            <small>
                                <%= pluralize(attempted_quiz.quiz.points, 'Point') %>
                            </small>
                            |
                            <small>
                                  <%=
                            link_to 'Retake Quiz', 
                            attempt_quiz_path(attempted_quiz.quiz), 
                            method: :post
                            %>
                            </small>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="tab-pane active" id="all-quizzes">
        
            <div class="list_quizzes">
                <%= render "all_quizzes" %>
            </div>
 
    </div>
</div>
</div>
