
<div class="banner d-flex justify-content-center">

    <div class="banner-image">
        <%= image_tag 'quiz' %>
    </div>

    <div class="banner-text">
        <h1>Welcome to <br> Quiz-Off!</h1>
        <p>Create and take quizes here</p>
        <button class='btn btn-warning col-12 col-md-3' >
            <%= link_to 'Get Started', new_session_path, class: "link" %>
        </button>
    </div>

</div>
