/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
  /*
 *= require_tree .
 *= require_self
 */
@import "main.scss";

 body{
     background-image: url("quiz");
     margin: 0 auto 0 auto;
     width: 100%;
     background-repeat: no-repeat;
 }

 img{
     width: 100%;
     height: auto;
 }

// .container{
//     padding: 0;
//     margin: 0em 1em;
// }

.banner-image{
    padding: 0em .5em;
    max-width: 100%;
}

.banner-text {
    text-align: start;
    position: absolute;
    padding-left: 5em;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    color: black;
}

.banner-text button{
    max-width: 95%;
}

.link{
    text-decoration: none;
}

