

// quizzes new form
.quizz-radio{
    margin-left: 1em;
}

.points_form{
    width: 30%;
}
.form-label{
    font-size:1.5em;
}
.form_card{
    padding: 2em;
    background: lightgray;
}

// quizzes show page

i{
 margin-left: 0.5em;
 margin-right: 0.5em;
}
.question-list{
    list-style: none;
}

.question-card{
    padding: 0.5em;
}
.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
  }
.card{
    border-color: #b4b4b4;
}
.card-title{
    font-size: 1.5em;
}

.question-card{
   background: rgb(220, 220, 220);

}
